/* styles.css */

/* General styling for the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styling for the main content area */
.content {
    flex: 1;
    padding: 20px;
}

/* Navigation bar styling */
.navbar {
    text-align: left;
    background-color: lightblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    margin-right: auto;
}

.navbar .logo img {
    height: 50px;
    width: auto;
}

.navbar a, .navbar .dropbtn {
    display: inline-block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

/* Dropdown menu styling */
.navbar .dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {
    background-color: #ddd;
}

.navbar .dropdown .dropbtn:hover {
    border-color: #45a049;
}

/* Adjusted styling for the form */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}

form input,
form select {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: #ecf0f1;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
}

form input:focus,
form select:focus {
    border-color: #2ecc71;
    background-color: #fff;
}

form button {
    background-color: #2ecc71;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #27ae60;
}
